.Modal {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  height: 80vw;
}

.input-search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.result-item {
  background-color: #edf2f7;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  width: 100%;
  text-align: center;
}

.Modal::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

.Modal::-webkit-scrollbar-track {
  background: transparent;
}
.Modal::-webkit-scrollbar-thumb {
  background-color: #ffffff44;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: padding-box;
  transition: background-color 0.3s, transform 0.3s;
}

.Modal::-webkit-scrollbar-thumb:hover {
  background-color: #b9b6b644;
}
