.appointment-slot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 10px;
  border-radius: 5px;
}

.slot-time h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .slot-time h3 {
    font-size: 20px;
  }
}

.available {
  border: 2px dashed #787878;
  cursor: pointer;
}

.occupied {
  border: 2px solid #787878;
}

.dark-theme {
  background-color: #2e2e2e;
  color: #ffffff;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.slot-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
}

.add-appointment {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.add-appointment-text {
  color: #787878;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
}

.appointment-content {
  width: 100%;
  display: flex;
  height: 100%;
}

.appointment-details {
  width: 100%;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.appointment-details p {
  font-size: 28px;
  font-weight: 500;
}

.edit-button-container {
  text-align: right;
}

.edit-button {
  background-color: #b8b8b8;
  border-color: #b8b8b8;
  color: #000000;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #b8b8b8;
  border-color: #b8b8b8;
  color: #000000;
}

:root {
  --cor-ipasgo: #015f2b;
  --cor-unimed: #008000;
  --cor-cassi: #002d72;
  --cor-bradesco-saude: #f291a1;
  --cor-saude-caixa: #004aad;
  --sombra: 2px 2px 3px rgba(0, 0, 0, 0.4);
  --sombra-bradesco: 2px 2px 3px rgba(0, 0, 0, 0.1);
  --fonte-padrao: 12px;
  --fonte-bradesco: 12px;
  --borda-radius: 3px;
  --padding: 3px;
}

.ipasgo {
  background-image: linear-gradient(135deg, #015f2b, #71b239);
  color: white;
  padding: 6px;
  border-radius: var(--borda-radius);
  box-shadow: var(--sombra);
  font-size: var(--fonte-padrao);
}
.unimed {
    background-image: linear-gradient(45deg, #088755 20%, #10402d);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 600;
}
.cassi {
    background-image: linear-gradient(45deg, #4b5db8 20%, #1933b0);
    color: white;
}
.saude-caixa {
    background-image: linear-gradient(150deg, #4B5DB8 75%, #F1A834);
    font-weight: 600;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 600;
}
.particular {
    background-image: linear-gradient(65deg, rgb(89, 89, 89) 1%, rgb(0, 0, 0));

    font-weight: 600;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 600;
}
.bradesco-saude {
  background-image: linear-gradient(45deg, #cb455b 70%, #f390a1);
  color: white;
  font-family: Arial, sans-serif;
  font-weight: 600;
}
.secretaria {
  background-image: linear-gradient(45deg, #5d5d5d 50%, #3d3133);
  color: white;
  font-family: Arial, sans-serif;
  font-weight: 600;
}

.ipasgo,
.unimed,
.cassi,
.saude-caixa,
.bradesco-saude,
.particular,
.secretaria {
  border: solid 1px white;
  padding: 6px;
  border-radius: var(--borda-radius);
  box-shadow: var(--sombra);
  font-size: var(--fonte-padrao);
}

:root {
  --cor-branca: #ffffff;
  --cor-azul-claro: #002b5c;
  --cor-azul-escuro: #002b5c;
  --cor-verde-claro: #004b23;
  --cor-verde-escuro: #004b23;
  --cor-amarelo: #ff7f50;
  --padding-pequeno: 3px;
  --padding-medio: 6px;
  --border-radius: 3px;
  --fonte-padrao: 16px;
}

.tomografia {
  color: var(--cor-branca);
  background-color: var(--cor-azul-escuro);
  padding: var(--padding-pequeno);
  border-radius: var(--border-radius);
  font-size: var(--fonte-padrao);
}

.ultrassom {
  color: var(--cor-branca);
  background-color: var(--cor-verde-escuro);
  padding: var(--padding-pequeno);
  border-radius: var(--border-radius);
  font-size: 22px;
}

.eco-cardiograma {
  color: var(--cor-branca);
  background-color: var(--cor-amarelo);
  padding: var(--padding-medio);
  border-radius: var(--border-radius);
  font-size: 1rem; /* Aqui você também pode usar diretamente o valor "1rem" se preferir */
}

@media screen and (max-width: 768px) {
  .appointment-details p {
    font-size: 18px;
    font-weight: bolder;
  }

  .tomografia {
    padding: var(--padding-medio);
    font-size: 0.8rem;
  }

  .ultrassom {
    padding: var(--padding-medio);
    font-size: 0.8rem;
  }

  .eco-cardiograma {
    padding: var(--padding-medio);
    font-size: 0.8rem;
  }
}
