@font-face {
  font-family: "UberMoveBold";
  src: url("../../assets/UberMoveBold.otf") format("opentype");
}

@font-face {
  font-family: "UberMoveMedium";
  src: url("../../assets/UberMoveMedium.otf") format("opentype");
}

body {
  font-family: "UberMoveMedium", sans-serif;
  /* background: linear-gradient(to bottom, #1E8178, #A6D7D2); */
  background-size: 100% 200%, cover; 
  /* animation: gradientMovement 30s infinite cubic-bezier(0.4, 0, 0.2, 1); */
  font-size: 16px;
}

@keyframes gradientMovement {
  0%, 100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto", sans-serif;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

h1 {
  font-size: 2.5vw;
}

p {
  font-size: 1.5vw;
}

.appointment-enter {
  opacity: 0;
}
.appointment-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.appointment-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.date-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  width: 74%;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px rgb(133, 133, 133);
  margin: auto;
}

.date-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.date-input.dark-mode {
  background-color: #333;
  color: #fff;
  border-color: #555;
}

.date-input.dark-mode:focus {
  border-color: #ffb900;
  box-shadow: 0 0 5px rgba(255, 185, 0, 0.5);
}

.date-input::placeholder {
  color: #aaa;
}

.date-input.dark-mode::placeholder {
  color: #ccc;
}

