body.light-theme {
  background-color: #f5f5f5;
  color: #333;
}

header.light-theme {
  background-color: #eee;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

header.light-theme h1 {
  color: #333;
}

.dropdown.light-theme summary {
  color: #333;
  cursor: pointer;
}

.dropdown-content.light-theme {
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 100;
  width: max-content;
}

.dropdown-content.light-theme a {
  color: #333;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown-content.light-theme a:hover {
  background-color: #ddd;
}

.profile-info.light-theme {
  display: flex;
  align-items: center;
}

.profile-info.light-theme p {
  margin-left: 10px;
  color: #333;
}

.agendamentos.light-theme {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
}

.agendamentos.light-theme h2 {
  color: #333;
}

.appointments-container.light-theme {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.appointment-slot.light-theme {
  padding: 10px;
  border: 1px solid #DDD0E8;
  border-radius: 5px;
  margin-bottom: 10px;
}

.occupied.light-theme {
  background-color: #ddd;
  color: #333;
}

.available.light-theme {
  background-color: #f9f9f9;
  color: #333;
  border: solid 1px #DDD0E8;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.appointment-slot.light-theme p {
  margin: 0;
  color: #333;
}

.appointment-slot.light-theme button {
  margin-top: 5px;
}

:root {
  --background-color: #ffffff;
  --text-color: #333;
  --border-color: #ddd;
  --hover-background-color: #f5f5f5;
  --active-background-color: #e6e6e6;
  --weekday-background-color: #f0f0f0;
}

.react-calendar {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation {
  background-color: var(--weekday-background-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}

.react-calendar__navigation button {
  color: var(--text-color);
  background: none;
  border: none;
  transition: background-color 0.2s ease;
}

.react-calendar__navigation button:hover {
  background-color: var(--hover-background-color);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.react-calendar__month-view__weekdays {
  background-color: var(--weekday-background-color);
  border-bottom: 1px solid var(--border-color);
}

.react-calendar__month-view__weekdays__weekday {
  color: var(--text-color);
}

.react-calendar__tile {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--text-color);
  transition: transform 0.2s ease;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--hover-background-color);
  transform: scale(1.05);
  color: var(--text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile--active {
  background-color: var(--active-background-color);
  color: var(--text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile--now {
  background-color: var(--hover-background-color);
  color: var(--text-color);
}

.react-calendar__tile--hasActive {
  background-color: var(--hover-background-color);
  color: var(--text-color);
}
