.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.modal:focus {
  outline: none;
}

.ModalTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: left;
}

.FormGroup {
  margin-bottom: 15px;
  text-align: left;
}

.Label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.Input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ButtonGroup {
  display: flex;
  justify-content: space-between;
}

.Button,
.cancelButton {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.Button {
  background-color: #007bff;
  color: white;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
}
