.appointment-slot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  background-color: #E3F2FD !important;
}

.slot-time h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .slot-time h3 {
    font-size: 20px;
  }
}

.available {
  cursor: pointer;
}